<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MessagingServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="MessagingServiceSoapBinding1" />
        <binding name="SmsSoap" />
        <binding name="SMSSoapBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://ws2.adpdigital.com/services/MessagingService" binding="basicHttpBinding" bindingConfiguration="MessagingServiceSoapBinding" contract="ADPWebRef.JaxRpcMessagingService" name="MessagingService" />
      <endpoint address="http://212.16.76.90/ws/sms.asmx" binding="basicHttpBinding" bindingConfiguration="SmsSoap" contract="SmartIPWebRef.SmsSoap" name="SmsSoap" />
      <endpoint address="http://172.17.25.79/websrv/services/SMS" binding="basicHttpBinding" bindingConfiguration="SMSSoapBinding" contract="MAPFAWebRefrence.HelloWorld" name="SMS" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="IC_PhoneNumber" value="9388968068" />
    <add key="HA_PhoneNumber" value="9190739557" />
    <add key="IC_PhoneNumber2" value="9388968068" />
    <add key="HA_PhoneNumber2" value="9190739557" />
    <add key="SendSmsInterval" value="300" />
    <add key="RefreshTime" value="15" />
    <add key="WaitThresholdTime" value="60" />
    <add key="SendCleanUpTime" value="1000" />
    <add key="RecieveCleanUpTime" value="700" />
    <add key="DelayThreshold" value="60" />
    <add key="NotRecievedThreshold" value="5" />
    <add key="ChartsIntervals" value="20" />
    <add key="ICComPort" value="Com3" />
    <add key="ICSpeed" value="38400" />
    <add key="HAComPort" value="Com3" />
    <add key="HASpeed" value="38400" />
    <add key="ICComPort2" value="Com3" />
    <add key="ICSpeed2" value="38400" />
    <add key="HAComPort2" value="Com3" />
    <add key="HASpeed2" value="38400" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>